* , ::before , ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    position: relative;
    width: 100%;
    overflow: hidden;
    /* background-image: url(./bg\ temp.jpg); */
    background-color: rgb(233, 206, 253);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    width: 500px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 30px 5px gray;
    background-color: rgba(255 ,255 ,255, 0.7);
    animation: moveUp 1 linear 1000ms ;
}
.field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(255, 121, 9 , 0.5);
    padding: 50px;
    border-radius: 5px;
    color: black;
    font-size: x-large;
    font-weight: bold;
}
input{
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    font-size: large;
}

input:focus{
    box-shadow: 0 0 10px 2px gray;
}
.heading{
    width: 120%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50px;
    color: rgb(77, 75, 75);
    font-size: xx-large;
    background-color: rgb(255, 255, 125 , 0.7) ;
    box-shadow: 0 0 20px 0px black;
    padding: 20px;
    border-radius: 10px;
}
.box{
    width: 400px;
    display: flex ;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.actions{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.actions button{
    all: unset;
    width: 100px;
    padding: 5px 10px;
    font-size: large;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
button:hover{
    background-color: black;
    color: white;
}

@keyframes moveUp {
    0%
    {
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 100%;
        transform: translateY(0);
    }
    
}