* , ::before , ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.container{
    width: 100%;
    margin: 50px auto;
    padding: 40px;
    color: black;
}

.sub-container{
    text-align:  center;
    margin: 0 auto;
    padding: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px gray;
}

.app{
    position: relative;
    background-color: rgba(250, 207, 18, 0.612);
    border-radius: 3px;
    padding : 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

input{
    padding: 10px;
    color: black;
    border-radius: 5px;
    font-size: medium;
    transition: all 200ms ease-in-out;
}

input:focus{
    box-shadow: 0 0 10px 0px blue;
}

button{
    padding: 9px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 10px 0px gray;

}
button:hover{
    background-color: black;
    color: white;
}
.features{
    display: flex;
    justify-content: end;
}
.Task-heading{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding:  20px;
}

.addBtn{
    all: unset;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: lightgreen;
    color: black;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 5px 0px black;
}
.emptyMsg{
    margin-top: 20px;
    color: gray;
}

.emptyMsg.remove{
    display: none;
}


.addBtn:hover{
    background-color: rgb(3, 164, 3);
}

.popUpSuccess , .addedMsg{
    background-color: green;
    padding: 6px;
    border-radius: 8px;
    color: white;
    transition: all 1000ms ease-in-out;
    scale: 0;
    opacity: 0;
}

.popUpSuccess.active , .addedMsg.active{
    /* display: block; */
    scale: 1;
    opacity: 100%;
}

.addedMsg{
    position: absolute;
    top: -20px;
    right: 0;
}

